<div class="container">
  <% [:notice, :error, :alert].each do |level| %>
    <% unless flash[level].blank? %>
      <div class="alert alert-dismissable alert-<%= flash_class(level) %>">
        <button type="button" class="close" data-dismiss="alert" href="#">&times;</button>
        <%= content_tag :p, flash[level] %>
      </div>
    <% end %>
  <% end %>

  <div class="row">

    <div class="col-lg-10 col-md-offset-2">
      <h1 class="swish landing-header">Cakes of Wrath</h1>
    </div>

    <%= form_for(@beta_signup, url: "/signup", method: "post", html: {id: "signup-form", style: "display: none;"}) do |f| %>
      <div class="col-lg-3 col-md-offset-3">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">@</span>
          <%= f.email_field("email", placeholder: "name@example.com", class: "form-control") %>
        </div>
      </div>
      <div class="col-lg-3">
        <%= f.submit "Sign Up", class: "btn btn-success btn-lg" %>
      </div>
    <% end %>

    <div style="margin-top: 2000px;">

  </div>
</div>